#!/usr/bin/env bash
[ $0. == ${BASH_SOURCE[0]}. ] && dot= || dot=.
d=$(readlink ${BASH_SOURCE[0]}).d
this=$(readlink ${BASH_SOURCE[0]})
target=${this}.d/$1
shift

[ -f ${target} ] && {
    [ "${dot}" == "" ] && {
        ${target} $*
        exit $?
    } || {
        . ${target} $*
        return
    }
}

echo USAGE:
echo "    $(basename ${this}) SUBCOMMAND"
echo
echo SUBCOMMANDS:
for name in $(ls ${this}.d); do
    echo "    $name"
done


